#containerRelatoriosPreview{
    width: 100%;
    margin-top: 10px;
}
.cardRelatorioPreview{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    color: black;
    align-items: center;
}
.containerItemsCard{
    display: flex;
    width: 100%;
    margin: 0 5px;
}
.itemCard{
    text-align: center;
    font-size: 11.2px;
    color: white;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.titleItemCard{
    background-color: rgba(197, 116, 2, 0.959);
    font-weight: bold;
    font-size: 12px;
}
.valueItemCard{
    background-color: rgb(243, 232, 218);
    font-weight: bold;
    padding: 5px;
    color: black;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.itemCardUlt{
    border: none;
    flex: 1;
    text-align: center;
    font-size: 11.2px;
}
.acessarBtn:hover{
    border-radius: 4px;
    transform: scale(1.2)
}
.lixeiraBtn {
    border: none;
    width: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2px;
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    padding: 3px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}
.lixeiraBtn img{
    width: 100%;
    height: 100%;
}
.lixeiraBtn:hover{
    background-color: rgb(93, 1, 1);
}
.editBtn {
    border: none;
    width: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    cursor: pointer;
    background-color: rgba(77, 76, 76, 0);
    padding: 3px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}
.editBtn img{
    width: 100%;
    height: 100%;
}
.editBtn:hover{
    background-color: rgb(222, 222, 222);
}
#btnsEditRelatorio{
    display: flex;
    flex-direction: row;
}
.btnsGerarRelatorio{
    display: flex;
    align-items: center;
    justify-content: center;
}
.linkGerarRelatorio{
    display: flex;
    margin: 4px;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border-radius: 2.5px;
}
.imgDocs{
    border-radius: 10px;
    width: 30px;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.imgDocs:hover{
    transform: scale(1.15)
}


@media(max-width: 1200px){
    .cardRelatorioPreview{
        flex-direction: column;
        align-items: start;
    }
    .containerItemsCard{
        margin: 15px 0;
    }
    .containerItemsCard{
        flex-direction: column;
    }
    .linkGerarRelatorio{
        background-color: rgb(208, 207, 206);
    }
}