.containerObsRelatorio{
    display: flex;
    flex-direction: column;
    max-width: 2000px;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 20px;
}

.labelObsRelatorio{
    background-color: rgb(255, 94, 0);
    padding: 4px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
}

.textareaObsRelatorio{
    padding: 4px;
    font-size: 15px;
    outline: none;
    resize: none;
    height: 100%;
}

@media(max-width:790px){
    #containerObsRelatorio{
        width: 100%;
    }
    .labelObsRelatorio{
        width: 100%;
    }
    .textareaObsRelatorio{
        width: 100%
    }
}