.containerObsRelatorio{
    display: flex;
    flex-direction: column;
    min-width: 400px;
    max-width: 600px;
    border: 1px solid white;
    border-radius: 2px;
    margin: 22px;
}

.labelObsRelatorio{
    background-color: rgb(255, 94, 0);
    padding: 4px;
    color: white;
    font-size: 13px;
    font-weight: bold;
}

.textareaObsRelatorio{
    padding: 4px;
    font-size: 15px;
    outline: none;
    resize: none;
    height: 100%;
}