#containerAtribuicoes{
    background-color: rgb(58, 58, 58);
    min-height: 100vh;
    padding: 20px;
    flex: 1;
    overflow-x: hidden;
}
#titleAtribuicoes{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    color: white;
    margin-bottom: 35px;
}
#cardContainerAtribuicoes { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
}
.cardAtribuicoes {
    display: flex;
    background-color: rgba(211, 211, 211, 0.126);
    box-shadow: 0 0 1px 0.5px white;
    border-radius: 5px;
    padding: 10px;
}
.inputAtribuicoes{
    background-color: rgb(0, 218, 105);
    width: 100%;
    
}
.btnExcluir{
    background-color: red;
}