#containerPlacas{
    background-color: rgb(255, 128, 0);
    min-height: 100vh;
    padding: 20px;
    flex: 1;
    overflow-x: hidden;
}
#titlePlacas{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    color: white;
    margin-bottom: 35px;
}
.containerPlacasInfos{
    display: flex;
    flex-direction: column;
    border-radius: 6px;
}
.titlePlacasInfos{
    background-color: rgb(255, 124, 23);
    display: flex;
    border: 2.2px solid white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.itemTitlePlacas{
    flex: 1;
    text-align: center;
    border: 1px solid white;
    padding: 10px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardPlaca{
    background-color: rgb(255, 255, 255);
    padding: 2px;
    display: flex;
}
.inputPlacaContainer{
    display: flex;
    width: 20%;
}
.inputPlacaContainer input{
    width: 100%;
}
.inputPlaca{
    width: 20%;
    outline: none;
    padding: 7px;
    /* flex: 1; */
}
.btnRemovePlaca{
    width: 28px;
    background-color: rgb(255, 85, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 2px;
}
.btnRemovePlaca img{
    width: 80%;
}
#btnAddPlaca{
    background-color: rgb(21, 255, 0);
    border-radius: 4px;
    font-weight: bold;
    padding: 7px;
    cursor: pointer;
    color: rgb(56, 49, 49);
    margin-top: 4px;
}
#btnEnviarPlacas{
    background-color: rgb(255, 255, 255);
    width: 165px;
    padding: 14px ;
    margin-top: 15px;
    font-weight: bold;
    font-size: 15.5px;
    border-radius: 6px;
    border: 1px solid white;
    cursor: pointer;
    transition: transform 0.3s ease;
}

@media(max-width: 1130px){
    .titlePlacasInfos{
        font-size: 0.75rem;
    }
}



