#relatorioContainer{
    margin-left: 280px;
    min-height: 100vh;
    background-color: rgb(255, 136, 0);
    display: flex;
    flex-direction: column;
}
#formularioContainer{
    background-color: rgb(208, 206, 206);
    display: flex;
    flex-wrap: wrap;
    margin: 20px 20px;
    border-radius: 5px;
}
