#relatorioContainer{
    margin-left: 280px;
    min-height: 100vh;
    background-color: rgb(130, 129, 129);
    display: flex;
    flex-direction: column;
    padding: 20px;
}
#formularioContainer{
    /* background-color: rgb(208, 206, 206); */
    display: flex;
    flex-wrap: wrap;
    margin: 20px 20px;
    border-radius: 5px;
    height: auto;
}
#titleRelatorio{
    border-bottom: 2px solid white;
    padding-bottom: 12px;
    text-align: center;
    color: white;
}
#btnEnviar{
    background-color: rgb(255, 255, 255);
    width: 180px;
    padding: 15px ;
    margin: 25px;
    font-weight: bold;
    font-size: 15.5px;
    border-radius: 6px;
    border: 1px solid white;
    cursor: pointer;
    transition: transform 0.3s ease;
}
#btnEnviar:active{
    transform: scale(0.95);
}