#containerRelatorioContratante{
    max-width: 100%;
    min-height: 100vh;
    background-color: rgb(58, 58, 58);
    padding: 20px;
    flex: 1;
    overflow-x: hidden;
}
#titleRelatorioContratante{
    text-align:  center;
    color: white;
    border-bottom: 2px solid white;
    margin-bottom: 20px;
    padding-bottom: 12px;
}