*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --larguraEditarRelatorio: 210px;
  --cor-principal: #3498db;
}
html{
  height: 100vh;
  width: 100vw;
}
body{
  font-family: "Sora", sans-serif;
  width: 100%;
  height: 100%;
}
#root{
  width: 100%;
  height: 100%;
}
#containerApp{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
select{
  -webkit-appearence: none;
}