.cardFiltros{
    background-color: rgb(255, 136, 0);
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    align-items: center;
    margin: 5px;
    border-radius: 4px;
    font-weight: bold;
    border: 1px solid white;
    width: 150px;
}

.inputFiltro{
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: none;
    background-color: none;
    padding: 3px;
}

.react-datepicker__input-container{
    padding: 0;
    border-radius: 4px;
}

.react-datepicker__input-container input{
    border: none;
    padding: 3px;
    width: 100%;
}
