.cardFiltros{
    background-color: rgb(255, 136, 0);
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    align-items: center;
    margin: 5px 10px 5px 0;
    border-radius: 4px;
    font-weight: bold;
    border: 1px solid white;
    width: 180px;
}
.inputFiltro{
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: none;
    background-color: none;
    padding: 7px;
    outline: none;
    font-size: 0.92rem;
}
.react-datepicker__input-container input{
    border: none;
    padding: 5px;
    width: 100%;
}
.react-datepicker__input-container{
    padding: 0;
    border-radius: 4px;
}


