.cardFiltros{
    background-color: rgb(255, 136, 0);
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    align-items: center;
    margin: 4px 10px 4px 0;
    border-radius: 4px;
    font-weight: bold;
    border: 1px solid white;
    width: 190px;
}
.inputFiltro, .react-datepicker__input-container input{
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: none;
    background-color: none;
    padding: 7px;
    outline: none;
    font-size: 0.92 rem;
}

.react-datepicker-wrapper{
    width: 100%;
}




