.containerInput{
    background-color: rgb(255, 111, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px;
    width: 220px;
    border-radius: 4px;
    border: 2px solid white;
}
.labelInput{
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 2px;
}
.inputForm{
    width: 100%;
    padding: 5px;
    outline: 0;
    font-size: 1rem;
}