.sidebarContainer{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    overflow: hidden;
    position: fixed;
    height: 100%;
}
#imgSidebarContainer{
    width: 100px;
    margin: 30px 0;
}
#logoutIcon{
    position: absolute;
    bottom: 15px;
    left: 10px;
    border: none;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    transition: transform 0.5s ease;
}  
#logoutIcon:hover{
    transform: scale(1.1);
}
