#containerRel{
    background-color: rgb(58, 58, 58);
    padding: 20px;
    color: white;
    min-height: 100vh;
    overflow-x: hidden;
    flex: 1;
}
#titleRel{
    border-bottom: 2px solid white;
    padding-bottom: 12px;
    text-align: center;
}
#btnAddColecao{
    margin-top: 45px;
    padding: 8px 14px;
    background-color: black;
    color: white;
    font-weight: bold;
}