.containerTime{
    display: flex;
    flex-direction: column;
    width: 210px;
    border: 2px solid white;
    border-radius: 2px;
    margin: 7px;
    min-height: 67px;
}
.labelTime{
    background-color: rgb(255, 94, 0);
    padding: 4px;
    color: white;
    font-size: 14.5px;
    font-weight: bold;
}
.inputTime{
    padding: 4px;
    font-size: 15px;
    outline: none;
    height: 100%;
}

@media(max-width: 508px){
    .containerTime{
        width: 100%;
    }
}
