.checkBoxContainer{
    display: flex;
    flex-direction: column;
    width: 210px;
    border: 2px solid white;
    border-radius: 2px;
    margin: 7px;
    max-height: 200px;
    min-height: 67px;
}
.labelCheckBox{
    background-color: rgb(255, 94, 0);
    padding: 4px;
    color: white;
    font-size: 14.5px;
    font-weight: bold;
}
.containerBtns{
    background-color: white;
    height: 100%;
    padding: 3px;
}
.btnCheckBox{
    height: 100%;
    width: 20%;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 3px;
    margin: 2px 3px 4px 0;
    font-size: 12px;
    cursor: pointer;
}
.btnCheckBoxTrue{
    height: 100%;
    width: 20%;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 3px;
    margin: 2px 3px 4px 0;
    font-size: 12px;
    background-color: rgb(0, 255, 26);
    cursor: pointer;
}
.btnCheckBoxFalse{
    height: 100%;
    width: 20%;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 3px;
    margin: 2px 3px 4px 0;
    font-size: 12px;
    background-color: red;
    cursor: pointer;
}
